@{
    ViewData["Title"] = "Empleados";
}
<link rel="stylesheet" href="~/css/Forms.css">
<br />
<h1 style="text-align:center">Lista Empleados</h1>
<hr />
<div class="container mt-5">
    <div class="row row-cols-1 row-cols-xl-2 g-4">
        @foreach (var employee in ViewBag.Data)
        {
            <div class="col">
                <div class="cardVerT border-success mx-auto" style="max-width: 600px;">
                    <br>
                    <div class="card-header fw-bold textitos text-center">@employee.Name @employee.LastName</div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-fluid rounded-start p-bg-opacity-10 w-100 h-100 p-3" src="@employee.UrlImage" alt="Employee Image">
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col">
                                    <div class="card-body" style="padding-left: 10px;">
                                        <p>
                                            <label class="text-sm fw-bold">Cédula:</label>
                                            <label class="text-sm">@employee.Ci</label>
                                        </p>
                                        <p>
                                            <label class="text-sm fw-bold">Teléfono:</label>
                                            <label class="text-sm">@employee.Phone</label>
                                        </p>
                                        <p>
                                            <label class="text-sm fw-bold">Usuario:</label>
                                            <label class="text-sm">@employee.User</label>
                                        </p>
                                        <p>
                                            <label class="text-sm fw-bold">Rol:</label>
                                            <label class="text-sm">@employee.Role</label>
                                        </p>
                                        <p>
                                            <label class="text-sm fw-bold">Fecha de Registro:</label>
                                            <label class="text-sm">@employee.RegisterDate.ToString("dd/MM/yyyy")</label>
                                        </p>
                                    </div>
                                </div>
                                <div class="col d-flex align-items-center justify-content-center">
                                    <div class="d-flex flex-column align-items-end">
                                        <a asp-action="Edit" asp-route-id="@employee.Id" class="btncardA w-100 h-100 mb-2">Actualizar</a>
                                        <button type="button"
                                                data-id="@employee.Id"
                                                data-toggle="modal"
                                                data-target="#deleteModal"
                                                class="btncardE w-100 h-100 mb-3">
                                            Eliminar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<!-- Modal for delete -->
<div class="modal fade" id="deleteModal">
    @* "fade" is for adding animation*@
    <div class=" modal-dialog modal-dialog-centered">
        <div class="modal-content ModalDelete" style="text-align:center">

            <div class="modal-header text-center">
                <h5 class="textitos mx-auto">Confirmar acción</h5>
            </div>

            <div class="modal-body">
                <h4>Desea eliminar el registro?</h4>
                <input id="employeeId" type="hidden" />
            </div>
            <div class="row" style="padding-left: 10px; padding-right:10px">
                <div class="col-md-6">
                    <div>
                        <input type="submit" id="btnDelete" onclick="confirmDelete()" class="btnmodalConfirm w-100 h-100" value="Confirmar" />
                        <br />
                    </div>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btnmodalCancel w-100 h-100" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
            <br />
            <br />
        </div>
    </div>
</div>
@section Scripts {
    <script>
        const employeeId = document.getElementById('employeeId');

        function confirmDelete() {
            const id = employeeId.value;

            // Enviar una solicitud DELETE a tu API
            fetch(`/api/Employee/Delete?id={employeeId}`, {
                method: 'DELETE'
            })
                .then(response => {
                    if (response.ok) {
                        // Actualizar la página o realizar otras acciones después de la eliminación
                        location.reload(); // Esto recargará la página después de la eliminación
                    } else {
                        // Manejar el caso de error, por ejemplo, mostrar un mensaje de error
                        console.error('Error al eliminar el empleado');
                    }
                })
                .catch(error => {
                    console.error('Error al eliminar el empleado', error);
                });
        }
    </script>

}