@{
    ViewData["Title"] = "Productos";
    int currentPage = ViewBag.CurrentPage;
    int totalPages = ViewBag.TotalPages;
    int categoryId = ViewBag.CategoryId;
}

<link rel="stylesheet" href="~/css/Forms.css">
<br />
<h1 style="text-align:center">Productos</h1>
<hr />
<div class="container mt-5">
    <div class="row row-cols-1 row-cols-xl-2 g-4">
        @foreach (var item in (List<Item>)ViewBag.Data)
        {
            <div class="col">
                <div class="cardVerT border-success mx-auto" style="max-width: 600px;">
                    <br>
                    <div class="card-header fw-bold textitos text-center">@item.Name</div><hr />
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-fluid rounded-start p-bg-opacity-10 w-100 h-100 p-3" src="@item.UrlImage" alt="Producto Image">
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col">
                                    <div class="card-body" style="padding-left: 10px;">
                                        <p>
                                            <label class="text-sm fw-bold">Marca:</label>
                                            <label class="text-sm">@item.ItemModel.Marker</label>
                                        </p>
                                        <p>
                                            <label class="text-sm fw-bold">Precio(Bs.):</label>
                                            <label class="text-sm">@item.Price</label>
                                        </p>
                                        <p>
                                            <label class="text-sm fw-bold">Color:</label>
                                            <label class="text-sm">@item.Color</label>
                                        </p>
                                        <p>
                                            <label class="text-sm fw-bold">Serie:</label>
                                            <label class="text-sm">@item.Serie</label>
                                        </p>
                                    </div>
                                </div>
                                <div class="col d-flex align-items-center justify-content-center">
                                    <div class="d-flex flex-column align-items-end">
                                        <button type="button"
                                                onclick="showDetails(@item.Id)"
                                                data-id="@item.Id"
                                                data-toggle="modal"
                                                data-target="#detailsModal"
                                                class="btncardD w-100 h-100 mb-2">
                                            Detalle
                                        </button>

                                        <a asp-action="Edit" asp-route-id="@item.Id" asp-controller="Item" class="btncardA w-100 h-100 mb-2">
                                            Actualizar
                                        </a>

                                        <button type="button"
                                                data-id="@item.Id"
                                                data-toggle="modal"
                                                data-target="#deleteModal"
                                                class="btncardE w-100 h-100 mb-5">
                                            Eliminar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <nav class="mt-3">
        <ul class="pagination">
            @for (int i = 1; i <= totalPages; i++)
            {
                <li class="page-item @(i == currentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("ItemsByCategories", new { id = categoryId, page = i })">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>

@*Modal for delete*@
<div class="modal fade" id="deleteModal">
    <div class=" modal-dialog modal-dialog-centered">
        <div class="modal-content ModalDelete" style="text-align:center">

            <div class="modal-header text-center">
                <h5 class="textitos mx-auto">Confirmar acción</h5>
            </div>

            <div class="modal-body">
                <h4>Desea eliminar el registro?</h4>
                <input id="logId" type="hidden" />
            </div>
            <div class="row" style="padding-left: 10px; padding-right:10px">
                <div class="col-md-6">
                    <div>
                        <input type="submit" id="btnDelete" onclick="confirmDelete()" class="btnmodalConfirm w-100 h-100" value="Confirmar" />
                        <br />
                    </div>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btnmodalCancel w-100 h-100" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
            <br />
            <br />
        </div>
    </div>
</div>

@*Modal for details*@
<div class="modal fade" id="detailsModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content DetalleModel">
            <div class="modal-header text-center">
                <h5 class="ttextitos mx-auto" id="lblName"></h5>
            </div>
            <div class="modal-body">

                <img id="imagenItem" class="img-fluid mb-2 w-100 h-100 p-1" src="" alt="Imagen Producto" />
                <p>
                    <label id="lblDescription"></label>
                </p>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mt-1">
                            <label for="lblModel" class="fw-bold">Modelo: </label>
                            <label id="lblModel"></label>
                        </div>
                        <div class="mt-1">
                            <label for="lblMarker" class="fw-bold">Marca: </label>
                            <label id="lblMarker"></label>
                        </div>
                        <div class="mt-1">
                            <label for="lblSerie" class="fw-bold">Serie: </label>
                            <label id="lblSerie"></label>
                        </div>
                        <div class="mt-1">
                            <label for="lblColor" class="fw-bold">Color: </label>
                            <label id="lblColor"></label>
                        </div>
                        <div class="mt-1">
                            <label for="lblPrice" class="fw-bold">Precio: </label>
                            <label id="lblPrice"></label>
                        </div>
                        <div class="mt-1">
                            <label for="lblWarranty" class="fw-bold">Garantía:</label>
                            <label id="lblWarranty"></label>
                            <label id="lblTypeWarranty"></label>
                        </div>
                        <div class="mt-1">
                            <label for="lblCapacity" id="lblInfo" class="fw-bold"></label>
                            <label id="lblCapacity"></label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center modal-footer">
                <button type="button" class="btnmodalCancel w-50 h-100" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div id="countdown" style="display: none;">
    <span id="countdown-value" hidden>900</span>
</div>

<script src="~/js/countdown.js"></script>



@section Scripts{
    <script>
        const txtId = document.getElementById('logId');
        const lblName = document.getElementById('lblName');
        const lblModel = document.getElementById('lblModel');
        const lblMarker = document.getElementById('lblMarker');
        const lblSerie = document.getElementById('lblSerie');
        const lblDescription = document.getElementById('lblDescription');
        const lblColor = document.getElementById('lblColor');
        const lblPrice = document.getElementById('lblPrice');
        const lblWarranty = document.getElementById('lblWarranty');
        const lblTypeWarranty = document.getElementById('lblTypeWarranty');
        const lblInfo = document.getElementById('lblInfo');
        const lblCapacity = document.getElementById('lblCapacity');
        const imagenItem = document.getElementById('imagenItem');

        document.addEventListener('DOMContentLoaded', () => {
            var btnsDelete = document.querySelectorAll('[data-toggle="modal"]');
            btnsDelete.forEach((button) => {
                button.addEventListener('click', () => {
                    var id = button.getAttribute('data-id');
                    txtId.value = id;
                });
            });
        });

        function showDetails(id) {
            fetch(`/Item/GetItem?id=${id}`)
            .then(response => {
                if (response.ok) {
                    return response.json();
                }
                else {
                    console.error(response);
                }
            })
            .then(data => {
                lblName.textContent = data.name;
                lblMarker.textContent = data.itemModel.marker;
                lblModel.textContent = data.itemModel.modelName;
                lblSerie.textContent = data.serie;
                lblDescription.textContent = data.description;
                lblColor.textContent = data.color;
                lblPrice.textContent = `${data.price} Bs.`;
                lblWarranty.textContent = data.durationWarranty;
                lblTypeWarranty.textContent = data.typeWarranty;
                if (data.itemModel.capacityOrSize === null && data.itemModel.measurementUnit === null) {
                    lblInfo.style.display = 'none';
                    lblCapacity.style.display = 'none';
                }
                else {
                    lblCapacity.textContent = `${data.itemModel.capacityOrSize} ${data.itemModel.measurementUnit}`;
                }
                if (data.itemModel.id != 1) {
                    lblInfo.textContent = 'Capacidad: ';
                }
                else {
                    lblInfo.textContent = 'Pantalla: ';
                }
                    imagenItem.src = `${data.urlImage}`;
            })
                .catch(error => console.log(error))
        }

        function confirmDelete() {
            const id = txtId.value;
            fetch(`/Item/Delete?id=${id}`)
                .then(response => {
                    if (response.ok) {
                        document.getElementById('deleteModal').style.display = 'none';
                        location.reload();
                    }
                    else {
                        console.log('Internal server error');
                    }
                })
                .catch(error => console.error(error))
        }
    </script>
}