@{
    ViewData["Title"] = "Productos";
}
<link rel="stylesheet" href="~/css/Forms.css">
<br />
<h1 style="text-align:center">Lista Productos</h1>
<hr />
<div class="container mt-5">
    <div class ="row row-cols-1 row-cols-md-2 g-4">
        @foreach (var item in ViewBag.Data)
        {
            <div class="col">
                <div class="cardBP border-success mx-auto" style="max-width: 600px;">
                    <br>
                    <div class="card-header textitos" style="text-align:center">@item._Name</div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-fluid rounded-start p-bg-opacity-10 w-100 h-100 p-3" alt="Producto Image"
                                 src="@item._UrlImage" />
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col">
                                    <div class="card-body">
                                        <p>
                                            <label class="text-sm fw-bold">Marca:</label>
                                            <label class="text-sm">@item._Marker</label>
                                        </p>
                                        <p>
                                            <label class="text-sm fw-bold">Precio(Bs.):</label>
                                            <label class="text-sm">@item._Price</label>
                                        </p>
                                        <p>
                                            <label class="text-sm fw-bold">Color:</label>
                                            <label class="text-sm">@item._Color</label>
                                        </p>
                                        <p>
                                            <label class="text-sm fw-bold">Serie:</label>
                                            <label class="text-sm">@item._Serie</label>
                                        </p>
                                    </div>
                                </div>
                                <div class="col d-flex align-items-center justify-content-center">
                                    <div class="d-flex flex-column align-items-end">
                                        <button type="button"
                                                onclick="showDetails(@item.ItemID)"
                                                data-id="@item.ItemID"
                                                data-toggle="modal"
                                                data-target="#detailsModal"
                                                class="btncardD w-100 mb-2">
                                            Ver detalles
                                        </button>
                                        <a asp-action="Edit" asp-route-id="@item.ItemID" class="btncardA w-100 mb-2 ">Actualizar</a>
                                        <button type="button"
                                                data-id="@item.ItemID"
                                                data-toggle="modal"
                                                data-target="#deleteModal"
                                                class="btncardE w-100 mb-2">
                                            Eliminar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
   
</div>
@*Modal for delete*@
<div class="modal fade" id="deleteModal">
    @* "fade" is for adding animation*@
    <div class=" modal-dialog modal-dialog-centered">
        <div class="modal-content deleteModal2" style="text-align:center">

            <div class="modal-header">
                <h3 class="">Confirmar acción</h3>
            </div>

            <div class="modal-body">
                <p>Desea eliminar el registro?</p>
                <input id="logId" type="hidden" />
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <input type="submit" id="btnDelete" onclick="confirmDelete()" class="btncardD w-100" value="Confirmar" />
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <button type="button" class="btncardE w-100" data-dismiss="modal">Cancelar</button>
                </div>
                <div class="col-md-1"></div>
            </div>
            <br />
            <br />
        </div>
    </div>
</div>
@*---------------------------*@


@*Modal for details*@
<div class="modal fade" id="detailsModal"> 
    <div class=" modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content detailsModal2">
            <div class="modal-header">
                <h4 class="modal-title" id="lblName"></h4>
            </div>
            <div class="modal-body">
                
                <img id="imagenItem"  class="img-fluid mb-2 w-100 h-100 p-1" src="" alt="Figure" />
                <p>
                    <label id="lblDescription"></label>
                </p>
                <div class="row">
                    <div class="col-md-3">
                        <div class="mt-1">
                            <label for="lblModel" class="fw-bold">Modelo:</label>
                        </div>
                        <div class="mt-1">
                            <label for="lblMarker" class="fw-bold">Marca:</label>
                        </div>
                        <div class="mt-1">
                            <label for="lblSerie" class="fw-bold">Serie:</label>
                        </div>
                        <div class="mt-1">
                            <label for="lblColor" class="fw-bold">Color:</label>
                        </div>
                        <div class="mt-1">
                            <label for="lblPrice" class="fw-bold">Precio:</label>
                        </div>
                        <div class="mt-1">
                            <label for="lblWarranty" class="fw-bold">Garantía:</label>
                        </div>
                        <div class="mt-1">
                            <label for="lblCapacity" id="lblInfo" class="fw-bold"></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mt-1">
                            <label id="lblModel"></label>
                        </div>
                        <div class="mt-1">
                            <label id="lblMarker"></label>
                        </div>
                        <div class="mt-1">
                            <label id="lblSerie"></label>
                        </div>
                        <div class="mt-1">
                            <label id="lblColor"></label>
                        </div>
                        <div class="mt-1">
                            <label id="lblPrice"></label>
                        </div>
                        <div class="mt-1">
                            <div class="row">
                                <div class="col-md-1">
                                    <label id="lblWarranty"></label>
                                </div>
                                <div class="col-md-10">
                                    <label id="lblTypeWarranty"></label>
                                </div>
                            </div>
                        </div>
                        <div class="mt-1">
                            <label id="lblCapacity"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center modal-footer">
                <button type="button" class="btncardE w-50" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        const txtId = document.getElementById('logId');
        const lblName = document.getElementById('lblName');
        const lblModel = document.getElementById('lblModel');
        const lblMarker = document.getElementById('lblMarker');
        const lblSerie = document.getElementById('lblSerie');
        const lblDescription = document.getElementById('lblDescription');
        const lblColor = document.getElementById('lblColor');
        const lblPrice = document.getElementById('lblPrice');
        const lblWarranty = document.getElementById('lblWarranty');
        const lblTypeWarranty = document.getElementById('lblTypeWarranty');
        const lblInfo = document.getElementById('lblInfo');
        const lblCapacity = document.getElementById('lblCapacity');

        const imagenItem = document.getElementById('imagenItem');


        document.addEventListener('DOMContentLoaded', () => {
            var btnsDelete = document.querySelectorAll('[data-toggle="modal"]');
            btnsDelete.forEach((button) => {
                button.addEventListener('click', () => {
                    var id = button.getAttribute('data-id');  
                    txtId.value = id;
                });
            });
        });

        function showDetails(id){
            fetch(`/Item/GetItem?id=${id}`)
            .then(response => {
                if(response.ok){
                    return response.json();
                }
                else{
                    console.error(response);
                }
            })
            .then(data => {
                    
                lblName.textContent = data.name;
                lblMarker.textContent = data.itemModel.marker;
                lblModel.textContent = data.itemModel.modelName;
                lblSerie.textContent = data.serie;
                lblDescription.textContent = data.description;
                lblColor.textContent = data.color;
                lblPrice.textContent = `${data.price} Bs.`;
                lblWarranty.textContent = data.durationWarranty;
                lblTypeWarranty.textContent = data.typeWarranty;

                if (data.itemModel.capacityOrSize === null && data.itemModel.measurementUnit === null){
                    lblInfo.style.display = 'none';
                    lblCapacity.style.display = 'none';
                }
                else{
                    lblCapacity.textContent = `${data.itemModel.capacityOrSize} ${data.itemModel.measurementUnit}`;
                }
                if(data.itemModel.id != 1){
                    lblInfo.textContent = 'Capacidad: ';
                }
                else{
                    lblInfo.textContent = 'Pantalla: ';
                }
                    imagenItem.src = `${data.urlImage}`;
            })
            .catch(error => console.log(error))
        }

        function confirmDelete(){
            const id = txtId.value;
            fetch(`/Item/Delete?id=${id}`)
            .then(response => {
                if(response.ok){
                    document.getElementById('deleteModal').style.display = 'none';
                    location.reload();
                }
                else{
                    console.log('Internal server error');
                }
            })
            .catch(error => console.error(error))
        }
    </script>
}